# precompiled python
*.pyc

# compiled object file
*.o

# roms
*.gbc

# rgbds extras
*.map
*.sym

# save game files
*.sgm
*.sav
*.sys
*.sn*

# converted image/palette data
*.1bpp
*.2bpp
*.pal

# *disasm.py output file
*disasm_output.asm
